server:
  port: 8080

spring:
  application:
    name: auth-service

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  liquibase:
    change-log: classpath:db/changelog/master.yml
    url: ${SPRING_DATASOURCE_URL}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        enable_lazy_load_no_trans: true

jwt:
  secret: ${JWT_SECRET}
  lifetime: 1